In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [157]:
test = pd.read_csv('./house_prices_kaggle/test.csv');

### List of useful commands for working with data with the help of PANDAS

- **test.dtypes** - look through the types of all variables;  
- **test.get_dtype_counts()** - gives a list of all data types  
- **test.count()** - count all existing values besides NaN values
- **test.shape** - gives the dimension of the object in the format (lines, columns); 
- **len(test)** - the length of object  
- **test.head(number of lines) and test.tail(number of lines)** - view the top or bottom rows of the frame   
- **test.index** - display index  
- **test.columns** - display all columns of object  
- **test.values** - diplay some values from the first rows  
- **test['Street'].value_counts()** - counts all unique values  
- **test['Street'].nunique()** - number of unique values  
- **test.describe(** *percentiles = [.2,.4,.8]* ) - shows statistical summary of data; percentiles-percentage of summarizing  
- **test.info()** - getting a brief description of the object  
- **test.sort_index(axis = ..., ascending = True/False)** - sorting in the rows  
- **test.sort_values(by = 'column_name')** - sort all data by column(-s)  
- **test.iloc[0:4, :]** - selecting rows by location  
- **test.isna** - mark all NaN as 'True', and non-NaN as 'False'  
- **test.groupby('Street').sum()** - like groupby in sql; apply function sum() to the result of grouping 
- **test.align()** - the dame as join in SQL  
- **test.stack()** - an interesting grouping. e.g., choose 3 columns and apply this function to new object. You'll see a 'stair' of values for each row  
- **test.to_csv('name')** - writing to file with *.csv extension  
- **test.to_excel('name')** - writing to file with *.xlsx extension  
- **test.replace(previous_value, new_value)** - the method of replacing values    
- **test.rename(columns = {'Id':'index'})** - rename column name  
- **test.drop(0)** - drop the first row  
- **test.drop(columns = 'Street')** - drop the column 'Street'  
- **test.drop_duplicates()** - drop duplicate columns  
- **test.sample(n=10)** - randomly select 10 rows from object  
- **test.Street or test['Street']** - selecting one column from object  
- **test['column_name'].astype('type')** - converting the type of column to another   
- **test.corr()** - computing the correlations  
- **test.corrwith(train)** - computing the correlations betwwen two objects (the same columns)  
- **test['Street'].astype('category')** - change the previous type of the column to categorical type  
  

- **df.split('_')** - spliting the values  
- **pd.concat([df1, df2])** - gather rows from df1 and df2 together  
- **pd.concat([df1, df2], axis = 1)** - gather columns from df1 and df2 together  
- **pd.melt(df)** - gather columns into rows

In [161]:
# The string for trying command mentioned above
pd.set_option('display.max_columns', 80)
test.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,Norm,1Fam,1Story,5,6,1961,1961,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,CBlock,TA,TA,No,Rec,468.0,LwQ,144.0,270.0,882.0,GasA,TA,Y,SBrkr,896,0,0,896,0.0,0.0,1,0,2,1,TA,5,Typ,0,NaN,Attchd,1961.0,Unf,1.0,730.0,TA,TA,Y,140,0,0,0,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,6,1958,1958,Hip,CompShg,Wd Sdng,Wd Sdng,BrkFace,108.0,TA,TA,CBlock,TA,TA,No,ALQ,923.0,Unf,0.0,406.0,1329.0,GasA,TA,Y,SBrkr,1329,0,0,1329,0.0,0.0,1,1,3,1,Gd,6,Typ,0,NaN,Attchd,1958.0,Unf,1.0,312.0,TA,TA,Y,393,36,0,0,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,5,5,1997,1998,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,PConc,Gd,TA,No,GLQ,791.0,Unf,0.0,137.0,928.0,GasA,Gd,Y,SBrkr,928,701,0,1629,0.0,0.0,2,1,3,1,TA,6,Typ,1,TA,Attchd,1997.0,Fin,2.0,482.0,TA,TA,Y,212,34,0,0,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal

In [28]:
test.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal